<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OTP</title>
</head>
<body>
<div style="width: 100%; height: 100%; font-family: 'Product Sans', Roboto, sans-serif">
    <div style="max-width: 600px; width: 100%; margin: auto">
        <div style="width: 100%; border-radius: 10px; background: #F7F7F7; text-align: center; padding: 30px;">
            <a href="https://www.EasyReach.Today" style="text-decoration: none"><img src="" width="50px" />
            <h1 style="margin-top: 0; color: #F5553D">EasyReach.Today</h1></a>
            <p>Verification code for ({{podcast}})</p>
            <p style="letter-spacing: 10px; font-size: 45px;font-weight: bold">{{otp}}</p>
            <p style="color: #888">Please note that this code is valid only for 24 hours</p>
        </div>
        <div style="padding: 15px">
            <p style="line-height: 25px;font-size: 0.9em;text-align: center;color: #777;">You got this email cause someone was trying to claim  {{podcast}} on <a href="" style="color: #F5553D">EasyReach.Today</a>. <br />If you or someone from your team did not authorize this, then you can safely ignore this email.</p>
            <p style="line-height: 25px;font-size: 0.9em;text-align: center;color: #777;">For any help, write to us at <a href="" style="color: #F5553D">EasyReach.Today</a>.</p>
        </div>
        <div style="padding: 15px;">
            <p style="line-height: 25px;font-size: 0.9em;text-align: center;color: #777; font-weight: bold;margin: 0">
                Follow us on:<br />
                <!-- <a style="color: #3B5998; text-decoration: none" href="https://www.facebook.com/tickledotlife/">Facebook</a> |
                <a style="color: #55ACEE; text-decoration: none"  href="https://www.twitter.com/ticklelife/">Twitter</a> |
                <a style="color: #C13584; text-decoration: none" href="https://instagram.com/tickle.life">Instagram</a> | -->
                <!-- <a style="color: #c4302b; text-decoration: none" href="https://www.youtube.com/channel/UCJs-AaTZIQ_dvljVmWVJfLg">YouTube</a> -->
            </p>
        </div>
        <!-- <div style="padding: 15px;">
            <p style="line-height: 25px;font-size: 0.9em;text-align: center;color: #777;margin: 0">Sent with <3 from Tickle.Life Inc.,<br />830 Dwight Street, San Francisco, CA 94134</p>
        </div> -->
    </div>
</div>
</body>
</html>