<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <span>
        <p>Sup Perverts.</p>
<p>I've gone a little crazy being stuck at home and I apologize.&nbsp;</p>
<p>Here's a little ramble-y rant on sexting. The do's, the don't's, and all the fun things from the perfect angle to the importance of background are covered for your listening pleasure. Hopefully, it helps you step up your game when you're playing from home.&nbsp;</p>
<p>Follow the pod on Instagram <a href="https://www.instagram.com/itsnotfightclub/">https://www.instagram.com/itsnotfightclub/</a></p>
<p>My personal Instagram <a href="https://www.instagram.com/jozlynnkatalina">https://www.instagram.com/jozlynnkatalina</a></p>
    </span>


    <p>
        <p>Sup Perverts.</p>
<p>I've gone a little crazy being stuck at home and I apologize.&nbsp;</p>
<p>Here's a little ramble-y rant on sexting. The do's, the don't's, and all the fun things from the perfect angle to the importance of background are covered for your listening pleasure. Hopefully, it helps you step up your game when you're playing from home.&nbsp;</p>
<p>Follow the pod on Instagram <a href="https://www.instagram.com/itsnotfightclub/">https://www.instagram.com/itsnotfightclub/</a></p>
<p>My personal Instagram <a href="https://www.instagram.com/jozlynnkatalina">https://www.instagram.com/jozlynnkatalina</a></p>
    </p>
</head>
<body>
    
</body>
</html>