{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Registration</h3>
   <hr>

   <form action=""  method="POST" data-abide novalidate  class="shadow p-5">
      {% csrf_token %}
    <div class="mb-3">
     <label for="inputEmail4" class="form-label">Email</label>
     <input type="email" class="form-control"  required name="email">
     <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <label for="email">Enter your globex.com email:</label>

<input type="email" id="email"
       pattern=".+@globex\.com" size="30" required>
    <div class="mb-3">
     <label for="inputPassword1" class="form-label">Password</label>
     <input type="password" class="form-control" id="inputPassword1" required name="password">
    </div>
    <div class="mb-3">
     <label for="inputPassword2" class="form-label">Confirm Password</label>
     <input type="password" class="form-control" id="inputPassword2" required name="repassword">
    </div>
    <div class="text-end">
     <!-- <button type="submit" class="btn btn-danger">Submit</button> -->
     <input type="submit" class="btn btn-primary mt-4" value="Submit">
    </div>
    <br>
    <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
       class="text-danger">Login Now</a> </small></div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}